<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.5codelab.cocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
        <key>Resources/README.md</key>
        <dict>
        	<key>Group</key>
        	<string>Resources</string>
        	<key>Path</key>
        	<string>Resources/README.md</string>
        </dict>
        
        <key>OtherResources/README.md</key>
        <dict>
        	<key>Group</key>
        	<string>OtherResources</string>
        	<key>Path</key>
        	<string>OtherResources/README.md</string>
        </dict>
        
		<key>Classes/AppDelegate/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>AppDelegate</string>
			</array>
			<key>Path</key>
			<string>Classes/AppDelegate/AppDelegate.m</string>
		</dict>
		<key>Classes/AppDelegate/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>AppDelegate</string>
			</array>
			<key>Path</key>
			<string>Classes/AppDelegate/AppDelegate.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PROJECTNAME___-Info.plist</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Info.plist</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Localizable.strings</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Localizable.strings</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>___PROJECTNAME___-Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/Common/README.md</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Common</string>
			</array>
			<key>Path</key>
			<string>Classes/Common/README.md</string>
		</dict>
        
        <key>Classes/Categories/README.md</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>Classes/Categories/README.md</string>
		</dict>
        
		<key>Classes/Utils/README.md</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Utils</string>
			</array>
			<key>Path</key>
			<string>Classes/Utils/README.md</string>
		</dict>
        
		<key>Classes/Models/README.md</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Classes/Models/README.md</string>
		</dict>
        
		<key>Classes/ViewControllers/README.md</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>Classes/ViewControllers/README.md</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
        
		<key>Classes/ViewControllers/MainViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>Classes/ViewControllers/MainViewController.h</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
        
		<key>Classes/ViewControllers/MainViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>Classes/ViewControllers/MainViewController.m</string>
		</dict>
        
		<key>Classes/Resources/Main.storyboard</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>Classes/Resources/Main.storyboard</string>
		</dict>
        
		<key>Classes/Views/README.md</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Classes/Views/README.md</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for any application using storyboards (iOS 5 and later). It provides just an application delegate and a window.</string>
	<key>Identifier</key>
	<string>com.5codelab.MinimalTemplate-iOS5</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
        <string>Resources/README.md</string>
        <string>OtherResources/README.md</string>
		<string>___PROJECTNAME___-Info.plist</string>
		<string>___PROJECTNAME___-Prefix.pch</string>
        <string>Localizable.strings</string>
		<string>main.m</string>
		<string>Classes/AppDelegate/AppDelegate.h</string>
		<string>Classes/AppDelegate/AppDelegate.m</string>
        <string>Classes/Common/README.md</string>
        <string>Classes/Categories/README.md</string>
        <string>Classes/Utils/README.md</string>
        <string>Classes/Models/README.md</string>
        <string>Classes/ViewControllers/README.md</string>
		<string>Classes/ViewControllers/MainViewController.h</string>
		<string>Classes/ViewControllers/MainViewController.m</string>
        <string>Classes/Views/README.md</string>
		<string>Classes/Resources/Main.storyboard</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC -all_load</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>$(BUILT_PRODUCTS_DIR)/usr/local/include</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
